name: Continuous Integration
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.PG_PASSWORD }}
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      
      - name: Run migrations on test database
        run: npm run migrate up 
        env:
          NODE_ENV: test
          PGHOST: localhost
          PGUSER: postgres
          PGDATABASE: forumapi_test
          PGPASSWORD: ${{ secrets.PG_PASSWORD }}
          PGPORT: 5432

      - name: Run tests
        run: npm test
        env:
          NODE_ENV: test
          PGHOST_TEST: localhost
          PGUSER_TEST: postgres
          PGDATABASE_TEST: forumapi_test
          PGPASSWORD_TEST: ${{ secrets.PG_PASSWORD }}
          PGPORT_TEST: 5432
          ACCESS_TOKEN_KEY: ${{ secrets.ACCESS_TOKEN_KEY }}
          REFRESH_TOKEN_KEY: ${{ secrets.REFRESH_TOKEN_KEY }}