name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'

    - name: Install dependencies
      run: npm install

    - name: Run Migrations
      env:
        PGHOST: localhost
        PGUSER: test_user
        PGPASSWORD: test_password
        PGDATABASE: forumapi_test
        PGPORT: 5432
      run: npm run migrate up

    - name: Run Tests
      env:
        PGHOST: localhost
        PGUSER: test_user
        PGPASSWORD: test_password
        PGDATABASE: forumapi_test
        PGPORT: 5432
        ACCESS_TOKEN_KEY: rahasia
        REFRESH_TOKEN_KEY: rahasia
      run: npm test